.comments-container {
    width: 95%;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 10px;
    background-color: #2c2c2c;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.create-comment {
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: rgb(44, 44, 44);
    padding: 8px;
    height: 42px;
    min-height: 42px;
    width: 95%;
    min-width: 345px;
    border: 0.4px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 15px;
    transition: 0.3s ease;
}
.create-comment:hover{
    border: 0.4px solid grey;
}

.create-comment input {
    background-color: transparent;
    color: rgb(181, 181, 181);
    outline: none;
    border: none;
    text-wrap: wrap;
    width: 80%;
    height: 100%;
    font-size: 1rem;
}

.create-comment .icon-arrow-create {
    cursor: pointer;
    color: rgb(118, 118, 118);
    font-size: 1.3rem;
    transition: 0.2s ease;
}

.create-comment .icon-arrow-create:active {
    color: rgb(150, 150, 150);
}
.comments{
    height: fit-content;
    max-height: 260px;
    width: 100%;
    margin-top: 25px;
    padding: 0 35px 10px 35px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
}
.comments::-webkit-scrollbar{
    display: none;
}
.comments li{
    list-style: none;
}
.comment{
    height: 35px;
    max-height: fit-content;
    width: fit-content;
    max-width: 100%;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: visible;

}
.comment span{
    font-size: 10px;
    cursor: pointer;
    color:  rgb(150, 150, 150);
}
.comment span::before{
    content: "@";
}
.comment span:hover{
    text-decoration: underline;
    color:  rgb(181, 181, 181);
}

@keyframes createComment {

    0% {
        height: 0px;
    }

    100% {
        height: 250px;
    }
}