.container-createpost {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.402);
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post {
    height: 55vh;
    width: 35vw;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.toggle-media {
    height: 45px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 205, 205);
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s ease;
    padding: 5px;
}

.create-title input,
.create-media input,
.create-signature input {
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.05rem;
}

.create-description textarea {
    border: none;
    background: transparent;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 1.05rem;
    padding: 10px;
    resize: none;
}

.create-description {
    height: 170px;
    width: 500px;
    background-color: rgb(244 244 244);
    border: 1px solid #9f9f9f;
    border-radius: 6px;
    transition: 0.2s ease;
}

.create-title,
.create-signature {
    height: 45px;
    width: 500px;
    background-color: rgb(244 244 244);
    padding: 10px;
    border: 1px solid #9f9f9f;
    border-radius: 6px;
    transition: 0.2s ease;
}

.create-media {
    height: 45px;
    width: 375px;
    background-color: rgb(244 244 244);
    padding: 10px;
    border: 1px solid #9f9f9f;
    border-radius: 6px 0 0 6px;
    transition: 0.2s ease;
}
.create-media:hover,.create-description:hover, .create-signature:hover, .create-title:hover{
    background-color: rgb(237, 237, 237);
    border: 1px solid #909090;
}

.create-media-container {
    display: flex;
}

.form-option {
    height: 45;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-btn,
.discard-btn {
    height: 45px;
    width: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 205, 205);
    border-radius: 6px;
}

.create-btn {
    margin-right: 40px;
}
.create-btn button{
    background: transparent;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s ease;
    border: none;
    cursor: pointer;
}

.discard-btn {
    margin-left: 40px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.create-btn:hover,
.discard-btn:hover,
.toggle-media:hover {
    background-color: rgb(188, 188, 188);
}