.navbar0 {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
}

.latestContent,
.trendingContent {
    width: 50%;
    height: 100%;
    flex: 1;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    font-family: monospace;
    font-weight: 400;
}

.latestContent:hover,
.trendingContent:hover {
    background-color: black;
    color: white;
}