.navbar0 {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom: 0.5px solid grey;
    background-color: grey;
}

.latestContent,
.trendingContent {
    width: 49.9%;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: whitesmoke;
    background-color: #1F1F1F;
    cursor: pointer;
}


.latestContent:hover,
.trendingContent:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}