.text-center{
    text-align: center;
}
.absolute{
    position: absolute;
}
.pointer{
    cursor: pointer;
}
.txtOverflowManage{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.flex-JusAliCenter{
 display: flex;
 align-items: center;
 justify-content: center;
}
.col-pink{
    color: rgb(255, 71, 102);
}
.col-icon{
    color: rgb(118, 118, 118);
}